<dl>
    <dt>Ícones</dt>
    <dd><a href="https://www.flaticon.com/authors/becris">Becris</a></dd>
    <dd><a href="https://www.flaticon.com/authors/freepik">Freepik</a></dd>
    <dd><a href="https://www.flaticon.com/authors/kiranshastry">Kiranshastry</a></dd>
    <dd><a href="https://www.flaticon.com/authors/pixel-perfect">Pixel-Perfect</a></dd>
    <dd><a href="https://www.flaticon.com/authors/prettycons">Prettycons</a></dd>
</dl>

<dl>
	<dt>Fotos</dt>
	<dd><a href="https://www.pexels.com/pt-br/@pixabay">Pixabay</a></dd>
	<dd><a href="https://www.pexels.com/pt-br/@hernan-pauccara-466676">Hernan Pauccara</a></dd>
	<dd><a href="https://www.pexels.com/pt-br/@sliceisop">Guillaume Meurice</a></dd>
	<dd><a href="https://www.pexels.com/pt-br/@matreding">Mathias P.R. Reding</a></dd>
	<dd><a href="https://www.pexels.com/pt-br/">Pexels</a></dd>
</dl>
<hr>
<p id="credits">
    Projeto feito por <cite>André Seiki Nagaishi</cite>
</p>